body {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
  font-family: Georgia, serif;
}

a {
    text-decoration: none;
}
/* form */

.label {
    display: block;
}

input[type="email"], input[type="search"], input[type="text"], input[type="password"], textarea, select {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    box-shadow: none;
    height: 28px;
    padding:2px 5px;
    box-sizing: border-box;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    background-color: transparent;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
    color: #555;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    height: 28px;
    letter-spacing: 0.1rem;
    line-height: 28px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

/* HEADER */
.site-title {
    font-size: 42px;
    padding-top: 20px;
    margin-bottom: 5px;
}

.site-description {
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    color:#686868;
}

/* MAIN NAVIGATION */
ul.nav {
    list-style: none;
}

ul.nav li {
    display: inline-block;
    padding: 0.4em 1em;
    border-radius: 3px;
}

ul.nav li:hover {
    background: #e1e1e1;
}

/* POST INDEX */

.post .meta {
    font-size: 0.9em;
    margin-bottom: 15px;
}