.wrapper {
	border-bottom: 1px solid #e5e5e5;
}

.toolBar {
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0px !important;
}

	.toolBar .tool {
		margin: 0 2px; 
	}

.ctn {
	padding: 10px;
	overflow: auto;
}

.ctn-nav {
	background-color: #F5F5F5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

	.ctn-nav ul {
		list-style: none;
		padding-left: 20px;
	}

.ctn-bro {
	min-height: 250px;
	max-height: 500px;
	border-right: 1px solid #e5e5e5;
}

	.ctn-bro ul {
		list-style: none;
	}

	.ctn-bro li a {
		color: #888888;
	}

	.ctn-bro li.of-item {
		text-align: center;
		display: inline-block;
		margin: 10px 5px 20px;
		width: 100px;
		height: 80px;
		overflow: hidden;
		text-overflow: ellipsis;
	    white-space: pre;
	}

	.ctn-bro li .icon {
		font-size: 4em;
	}

/* General style */
.btn {
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}