@media(min-width:768px) {
    
    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }

    .content-outer {
        padding-top: 30px;
    }

    .page-wrapper {
        position: inherit;
        padding: 0px;
        min-height: 500px;
    }

    .navbar-brand {
        height: 30px;
        padding: 5px;
    }
}