html {
	height: 99% !important;
}

body {
	height: 100% !important;
	overflow: hidden;
}

#customizer {
	border-right: 1px solid #c1c1c1;
	background: #e5e5e5;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	width:300px;
	overflow-y:auto;
	overflow-x:hidden;
}

#customizer .col-container {
	width: 600px;
}

#customizer .col {
	width:300px;
	float:left;
}

#customizer .section {
	border-bottom: 1px solid #c1c1c1;
	padding: 5px;
}

#customizer .panel-heading {

}

#customizer .panel {
	border-top:none;
	border-bottom:1px solid #dddddd;
	margin-bottom: 0px;
}

#dt-iframe-container {
	/* width controlled by js */
	height: 100% !important;
	float: left;
}

iframe {
	border:none;
	height: 100%;
}

#dt-widget-availables {
	border-right: 1px solid #c1c1c1;
	width:300px;
	height: 100%;
	overflow-y:auto;
	overflow-x:hidden;
	float: left;
}

#dt-widget-availables .header {
	border-bottom: 1px solid #e1e1e1;
	padding: 0 10px;
}

#dt-widget-availables ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#dt-widget-availables ul li{
	padding:0px;
	border-bottom: 1px solid #e1e1e1;
}

#dt-widget-availables ul li:hover{
	background: #e1e1e1;
}

#dt-widget-availables ul li a {
	padding:10px;
	display: block;
	height: 100%;
	color: inherit;
}

#dt-widget-availables ul li a:active,
#dt-widget-availables ul li a:hover {
	text-decoration: none;
	outline: none;
}