html {
	height: 99% !important;
}

body {
	height: 100% !important;
	overflow: hidden;
}

#customizer {
	border-right: 1px solid #c1c1c1;
	background: #e5e5e5;
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	width:300px;
	overflow-y:auto;
	overflow-x:hidden;
}

#customizer .col-container {
	width: 600px;
}

#customizer .col {
	width:300px;
	float:left;
}

#customizer .section {
	border-bottom: 1px solid #c1c1c1;
	padding: 5px;
}

#customizer .panel-heading {

}

#customizer .panel {
	border-top:none;
	border-bottom:1px solid #dddddd;
	margin-bottom: 0px;
}

#iframe-container {
	/* width controlled by js */
	height: 100% !important;
	margin-left: 300px;
}

iframe {
	border:none;
	height: 100%;
}