{% extends 'layout/default.html' %}

{% block content %}
    <section>
        <h2>{{ post.title }}</h2>
        <div class="meta">
            <span>by <a href="{{blog_url('author')}}/{{post.username}}">{{ post.authorName }}</a></span> |
            <span>on {{ post.date }}</span>
        </div>

        {{ post.content }}

        {% if post.tags %}
        <p>
            {% for tag in post.tags %}
                <a href="{{ blog_url('tag')}}/{{tag.slug}}"><span>#{{ tag.label }}</span></a> 
            {% endfor %}
        </p>
        {% endif %}

        <div>
            <h3>{{ __('Discussion') }}</h3>
        </div>
        <section>
            {{ comment(post.id) }}
        </section>
    
    </section>
{% endblock %}