.comment-action {
	font-size: 94%;
}

.comment-action > .unapprove {
	color: #E8B729;
}

.comment-action > .approve {
	color: #006505;
	display: none;
}

.comment-action > .unapprove {
	color: #d98500;
}

.comment-action > .spam,
.comment-action > .trash {
	color: #a00;
}