<!DOCTYPE HTML>
<html>
	<head>
		<title>Site title</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{{ theme_url }}/css/normalize.css">
		<link rel="stylesheet" href="{{ theme_url }}/plugins/foundation/css/foundation.min.css">
		<link rel="stylesheet" href="{{ theme_url }}/css/style.css">
		{% block head %}{% endblock %}
	</head>
	<body>
		<!-- Nav Bar -->
		<div class="row">
			<div class="large-12 columns">
			  	<a href="{{ base_url }}"><h1>Site Name <small>This is tag line.</small></h1></a>
			  	<hr />
			</div>
		</div>
		<!-- Main Page Content and Sidebar -->
	  	<div class="row">
	    	<!-- Main Content -->
	    	<div class="large-9 columns" role="content">
				{% block content %}{% endblock %}
	   		</div>
	   		<!-- End Main Content -->

		    <!-- Sidebar -->
		    <aside class="large-3 columns">
		 
		      	<h5>Links</h5>
		      	<ul class="side-nav">
		        	<li><a href="/blog">Blog</a></li>
		        	<li><a href="/p/about">About</a></li>
		      	</ul>
		    </aside>
		    <!-- End Sidebar -->
	    </div>
  		<!-- Footer -->
	    <footer class="row">
		    <div class="large-12 columns">
		      <hr />
		      <div class="row">
		        <div class="large-6 columns">
		          <p>© Copyright no one at all.</p>
		        </div>
		      </div>
		    </div>
	    </footer>
	</body>
</html>